<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Dotto on Ember</a>
      <div class="nav-collapse collapse">
        {{render clients}}
      </div>
      <div class="navbar-search pull-right">
        {{view Ember.TextField valueBinding="search" placeholder="Search" class="search-query"}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span4">
      <ul class="nav nav-tabs nav-stacked">
        {{each messageTypes itemViewClass="Embertest.MessageTypeView"}}
      </ul>
      {{outlet 'messageOutlet'}}
    </div>
    <div class="span8">
      {{outlet}}
    </div>
  </div>
</div>
