<h3>Events</h3>

{{#if search}}
  Zoekterm: <strong>{{search}}</strong>
  <br/><br/>
{{/if}}

{{#if content.isLoaded}}
  {{#each controller}}
    {{#if view.showName}}
      <strong>{{client.fullName}}</strong><br/>
    {{/if}}
    {{message}}<br/>
    <small>
      {{typeName}} {{dateFormat createdAt}}
      <span class="btn btn-danger btn-mini" {{action deleteEvent this}}>Delete</span>
    </small>
    <hr/>
  {{else}}
    Geen events gevonden...
  {{/each}}
  {{view Embertest.MoreButtonView}}
{{else}}
  Loading...
{{/if}}
