{{#if search}}
  Zoekterm: <strong>{{search}}</strong>
  <br/><br/>
{{/if}}

{{#if content.isLoaded}}
  {{#each controller itemController="event"}}
    {{#if isEditing}}
      {{view Embertest.EditorView valueBinding="message"}}
      <br/>
      <button class="btn btn-primary" {{action updateEvent}}>Save</button>
      <button class="btn" {{action cancelEditing}}>Canel</button>
      <hr/>
    {{else}}
      {{#if view.showName}}
        <strong>{{unbound client.fullName}}</strong><br/>
      {{/if}}
      {{unbound message}}<br/>
      <small>
        {{unbound typeName}} {{unbound dateFormat createdAt}}
        <span class="btn btn-primary btn-mini" {{action editEvent}}>Edit</span>
        <span class="btn btn-danger btn-mini" {{action deleteEvent this}}>Delete</span>
      </small>
      <hr/>
    {{/if}}
  {{else}}
    Geen events gevonden...
  {{/each}}
  {{view Embertest.MoreButtonView}}
  <br/>
{{else}}
  Loading...
{{/if}}
